#!/usr/bin/env bash


## PARAMETERS

# Files and folders
project_folder=$(pwd)/example
output_folder=$project_folder/output
if [ ! -d $output_folder ] ; then mkdir -p $output_folder ; fi
param_file=$output_folder/Parameters.txt
sumstats=$output_folder/Summary_statistics.txt

# Choice of parameters
CO_l_min=100.0
CO_l_max=1000.0
CO_sd_min=50.0
CO_sd_max=300.0
NCO_l_min=1.0
NCO_l_max=300.0
NCO_sd_min=1.0
NCO_sd_max=100.0
ratio_min=-2
ratio_max=1

# Miscellaneous
CO_asym=0.5
NCO_asym=0.5
prop_CAST=0.5
tot_nb_recomb=1000
nb_frag=10
method="expected"
name="explicit"


## WRITE LIST OF PARAMETERS

# Tester méthode random et méthode intensité
python $project_folder/write_parameters_file.py \
	--output $param_file \
	--tot_nb_simul 10 \
	--method $method \
	--tot_nb_recomb $tot_nb_recomb \
	--nb_frag $nb_frag \
	--CO_asym $CO_asym \
	--NCO_asym $NCO_asym \
	--prop_CAST $prop_CAST \
	--name $name \
	--CO_l_min $CO_l_min \
	--CO_l_max $CO_l_max \
	--CO_sd_min $CO_sd_min \
	--CO_sd_max $CO_sd_max \
	--NCO_l_min $NCO_l_min \
	--NCO_l_max $NCO_l_max \
	--NCO_sd_min $NCO_sd_min \
	--NCO_sd_max $NCO_sd_max \
	--ratio_min $ratio_min \
	--ratio_max $ratio_max


